<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap" rel="stylesheet">
    <title>Book ticket</title>
</head>
<body style="text-align:center;">
    <h1>Book Tickets</h1>
    <form method="POST" action="/show/book/{{ show_id }}">
        <label>Number of tickets</label>
        <input name="no_of_tickets" type="number" required/>
        <br><br>
        <input type="submit" value="Book">
        <br>
    </form>
    <h4 style="color:red">{{ error_msg }}</h4>
</body>
</html>